* {
  font-family: sans-serif;
}

p { margin: 0 0 10px }

textarea {
  resize: none;
  margin-bottom: 10px;
}

.column {
  display: flex;
  flex-direction: column
}

.row { display: flex }

.wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  padding: 10px;
}

.list-column {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 0 10px;

  h2 { color: #555 }

  &.in-progress { background: aliceblue }
  &.done { background: rgb(253, 180, 153) }
  &.preview {
    background: #f5eadc;
    height: 500px;
    width: 300px;

    .actions {
      margin: 10px 0;

      > * { margin-right: 10px }
    }
  }

  .list-item {
    display: inline-flex;
    flex-wrap: wrap;

    .note { margin: 10px 0 0 }
  }
}

